* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
}

table {
  width: 1250px;
  border: none;
}

td img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
}

td {
  text-align: center;
  padding: 30px 30px;
  color: #555;
  font-size: 20px;
}

td h3 {
  font-size: 24px;
  padding: 5px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #555;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.gradient1 {
  background: radial-gradient(rgb(255, 255, 255), #ffa4a4);
  padding: 40px;
}

.gradient2 {
  background: radial-gradient(white, #5c5757);
  padding: 40px;
}

.gradient3 {
  background: radial-gradient(white, #627199);
  padding: 40px;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
  background: black;
  color: #8a8a8a;
  font-size: 14px;
  width: 100%;
  height: 60px;
  padding: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-decoration-color:bisque;
  padding: 20px;
}

p {
  font-size: 18px;
  padding: 5px;
}
